* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #FFFAE5;
	background-color: #131112;
	background-image: url(images/stars.png);
	font-family: Meiryo, sans-serif;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	margin-block-start: 0.63em;
	margin-block-end: 0.63em;
}
h2 {
	font-size: 1.4em;
	font-weight: bold;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
}
p {
	font-size: 16px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	line-height: 1.6em;
}
ul {
	list-style-type: none;
	margin-block-start: 10px;
	margin-block-end: 10px;
}
li {
	line-height: 1.5em;
	margin-left: 1em;
}
em, strong {
	 
}
table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid white;
	padding: 0.5em;
}
thead th {
  width: 25%;
}
blockquote {
	border-left: solid 4px;
	padding: .1rem .1rem .1rem .4rem;
	color: #44dc59;
	border-color: rgba(70, 136, 71, 0.6);
	overflow-x: auto;
	/*understand this*/
}
hr {
	border-style: solid;
}
a:link {
	color: #37A5FA;
	text-decoration: none;
}
a:visited {
	color: #D3C093;
}
a:active {
	color: #725AC1;
}
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}
 
/* format classes*/
.center {
	text-align: center;
}
/* main classes */
.page-container {
	width: 90%;
	margin: 0 auto;
	background-color: #13111299;
	/* background-color: #35394555; transpancy color*/
	border: 1px solid #fff; */
	/* border-radius: 10px; */
}
.page {
	width: 90%;
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
}
.front-title {
	letter-spacing: 0.05em;
	font-size: 3em;
}
.intro {
	text-align: center;
}
.core {
	margin: 60px 0px 0px 0px;
	display: flex;
	flex: initial;
	justify-content: space-around;
	flex-wrap: wrap;
	grid-column-gap 30px;
}
.header-container {
	margin: 30px 0px 0px 0px;
	display: flex;
	justify-content: center;
}
.header {
	width: 60%;
	margin: 0px 0px 60px 0px;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.header ul {
	display: flex;
	justify-content: space-around;
	margin: 0px 0px 10px 0px;
	flex-wrap: wrap;
}
.header li {
	font-size: 1.2em;
	display: inline-block;
}
.background-box {
	background-color: #13111299;
}
.box {
	display: block;
	border: 2px solid #FFF;
	border-radius: 10px;
	width: 300px;
	box-sizing: border-box;
	text-align: center;
}
.update {
	height: 400px;	
	width: 20%;
}
.datalist {
	/* TODO */
}
.footer {
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding: 70px 0px 30px 0px;
}

/* niche classes*/
.post {
	/* TODO */
}
.date {
	font-size: 1em;
}
/* mobile classes */
@media only screen and (max-width:750px) {
	.page-container {
		margin: 0 auto;
		background-color: #231112CC;
	}
	.header ul {
		flex-direction: column;
	}
	.core {
		margin: 100px 0px 0px 0px;
		display: flex;
		flex-wrap: wrap;
	}
}