* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
body {
	color: #F7F7FF;
	background-color: #131112;
	/* font-family: */
}
h1 {
	background-color: #131112; /* Light gray */
	font-size: 1.7em;
	font-weight: bold;
	padding: 0px, 5px, 0px, 5px;
	margin-bottom: 20px;
	border-bottom: 2px solid #D66853;
	border-radius: 10px;
}
h2 {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 20px;
}
p {
	font-size: 16px;
	margin-bottom: 10px;
}
ul, ol{
	 margin-bottom: 10px;
}
em, strong {
	 
}
a:link {
	color: #37A5FA;
	text-decoration: none;
}
a:visited {
	color: #D66853;
}
  a:active {
	color: red;
  }
  
  /* classes */
.page {
	margin: 0 auto;
	text-align: center; /* remove later*/
}
.header li {
	float: left;
	text-align: center;
	width: 33%;
	list-style-type: none;
}
.update {
	display: block;
	border: 2px solid #FFF;
	border-radius: 10px;
	width: 300px;
	box-sizing: border-box;
}
.footer {
	text-align: center;
	margin: 100px 0px 40px 0px;
}