<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
	<title>{{ page.title }} - Pinky's Observatory</title>
    <link rel='stylesheet' href='/styles.css' />
</head>
<body>
	<div class="header-container">
		<div id="content-header" class="header">
			<ul>
				<li class="background-box"><a href="/index.html">Observatory</a></li>
				<li class="background-box"><a href="/personal.html">Personal</a></li>
				<li class="background-box"><a href="/writings.html">Writings</a></li>
				<li class="background-box"><a href="/indexes.html">Indexes</a></li>
				<li class="background-box"><a href="/findings.html">Findings</a></li>
			</ul>
		</div>
	</div>
	<div class='page-container'>
		<div class='page'>
			<div class="header-container">
				<ul class="header">
					<h1>{{ page.title }}</h1>
					<p class="date">Published {{ page.date | date: "%B %-d" }}, {{ page.date | date: "%Y" }}</p>
				</ul>
			</div>
			{{ content }}
		</div>
		<div class="footer">
			<p class="footer"><a href="#content-header">Back to Top</a></p>
		</div>
	</div>
</body>
</html>