<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=0.8' />
	<title>{{ page.title }} - Pinky's Observatory</title>
	<link rel="preload" href="/fonts/IBMPlexSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel='stylesheet' href='/styles.css'/>

	<meta property="title" content="{{ page.title }}">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:site_name" content="Pinky Cat's Observatory">
	<meta property="og:url" content="{{ permalink }}">
	<meta property="description" content="{{ description }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:type" content="article">
	<style>
		td:last-of-type {
			text-align: center;
			width: 5%;
		}
	</style>
</head>
<body>
	<div class="header-container">
		<div class="header-title">
			<a href="/index.html">
				<h1 class="website-title"><strong>Pinky's Cat Observatory</strong></h1>
			</a>
		</div>
		<div id="content-header" class="header">
			<ul>
				<li class="title-background"><a href="/personal.html">Personal</a></li>
				<li class="title-background"><a href="/writings.html">Writings</a></li>
				<li class="title-background"><a href="/indexes.html">Indexes</a></li>
				<li class="title-background"><a href="/findings.html">Findings</a></li>
			</ul>
		</div>
	</div>
	<div class='page-container'>
		<div class='page'>
			<div class="title-container">
				<ul class="title">
					<h1>{{ page.title }}</h1>
					<p> Updated: {{ page.update | date_to_long_string: "ordinal", "US" }}</p>
				</ul>
			</div>
			{{ content }}
			<div class="footer">
				<p class="footer"><a href="#content-header">Back to Top</a></p>
			</div>
		</div>
	</div>

</body>
</html>