<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>{{ page.title }} - Pinky Cat's Observatory</title>
	<link rel='preload' href='/fonts/IBMPlexSans-Regular.woff2' as='font' type='font/woff2' crossorigin>
	<link rel='stylesheet' href='/styles.css'>

	<meta property='title' content='{{ page.title }}'>
	<meta property='og:title' content='{{ page.title }}'>
	<meta property='og:site_name' content="Pinky Cat's Observatory">
	<meta property='og:url' content='{{ permalink }}'>
	<meta property='description' content='{{ description }}'>
	<meta property='og:description' content='{{ description }}'>
	<meta property='og:type' content='article'>
	<style>
		img {
			max-height: 500px;
		}
	</style>
</head>
<body>
	<div class='header-container'>
		<div class='header-title'>
			<a href='/index.html'>
				<h1 class='website-title'><strong>Pinky Cat's Observatory</strong></h1>
			</a>
		</div>
		<div id='content-header' class='index header'>
			<a class='title-background' href='/personal.html'>Personal</a>
			<a class='title-background' href='/writings.html'>Writings</a>
			<a class='title-background' href='/indexes.html'>Indexes</a>
			<a class='title-background' href='/findings.html'>Findings</a>
		</div>
	</div>
	<div class='page-container'>
		<main>
			<div class='title-container'>
				<div class='title'>
					<h1>{{ page.title }}</h1>
					<p>Review Written: {{ page.date | date: "%Y-%m-%d" }} {% if page.update %} | Updated: {{ page.update | date: "%Y-%m-%d" }} {% endif %}</p>
				</div>
			</div>
			{{ content }}
		<div class='footer'>
			{% assign page-tags = page.tags %}
			{% assign touhou-reading-log-raw = site.indexes-extras | where:"type", "touhou-reading-log" %}
			{% assign touhou-reading-log = touhou-reading-log-raw | where:"season", page.season %}
			{% assign items = touhou-reading-log %}

			{% if items.size > 1 %}

				{% for item in items %}
					{% if item.title == page.title %}
						{% assign item_index = forloop.index %}
					{% endif %}
				{% endfor %}
			

				{% assign prev_index = item_index | minus: 1 %}
				{% assign next_index = item_index | plus: 1 %}
  
				{% for item in items %}
					{% unless prev_index == 0 %}
						{% if forloop.index == prev_index %}
							{% assign back = item %}
						{% endif %}
					{% endunless %}
					{% unless forloop.last %}
						{% if forloop.index == next_index %}
							{% assign next = item %}
						{% endif %}
					{% endunless %}
				{% endfor %}

			{% endif %}
			
			<p>{% if back != nil %}<a href='{{ back.url }}'><-- Pervious Entry</a> | {% endif %}<a href='/indexes/touhou-reading-log'>Back to the Touhou Reading Log</a>{% if next != nil %} | <a href='{{ next.url }}'>Next Entry --></a>{% endif %}</p>
		</div>
		</main>
	</div>

</body>
</html>